* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: row; /* Deixa logo e formulário lado a lado */
    background: rgb(244, 243, 243);
    border: 3px solid #004aad;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 800px;
    width: 90%;
}

.logo-school {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imagem-logo {
    max-width: 100%;
    height: auto;
}

.formulario-login {
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-login h2 {
    margin-bottom: 20px;
    color: #0300ae;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0300ae;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column; /* Layout empilhado no celular */
    }

    .logo-school,
    .formulario-login {
        width: 100%;
    }
}
