* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #d3d3d3;
}

.menu-lateral {
    width: 20%;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes a {
    text-decoration: none;
}

.botoes button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #004aad;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.botoes button:hover {
    background-color: #ffbd59;
    color: black;
}

button.active {
    background-color: #ffbd59;
    color: black;
}

.conteudo {
    width: 80%;
    padding: 40px;
    overflow-y: auto;
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}

.aluno {
    display: grid;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 30px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 30px;
}

.blue {
    background-color: #004aad;
    color: white;
}

.yellow {
    background-color: #ffbd59;
    color: black;
}

.blue-obs,
.yellow-obs {
    font-size: 20px;
    font-style: italic;
    padding: 20px;
}

.blue-obs {
    background-color: #004aad;
    color: white;
}

.yellow-obs {
    background-color: #ffbd59;
    color: black;
}
